.basic-info {
    .col-9 {
        text-transform: uppercase;
    }
    .brand {
        color: $blue;
    }
    div {
        margin-bottom: 10px;
    }
}

.quantity {
    label, select, input {
        display: block;
        margin-bottom: 10px;
    }
    select {
        padding: 5px;
    }
}


.download {

    color: $dark-gray;
    
    i {
        font-size: 50px;
        display: block;
        margin-right: 10px;
    }
    span {
        font-size: 20px;
    }
}

.image-full {
    
    cursor: pointer;
}

.image-small {
    
    width: 21%;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    // border: 1px solid $gray-font;
    margin-right: 5px;
    
    img:hover {
        opacity: 0.7;
    }    
}

.description {
    h2, h3, strong, p, ul, li {
        margin: 25px 0;
    }

    li {
        position: relative;
        padding-left: 20px;
    }
    li:before {
        content: '';
        display: block;
        height: 7px;
        width: 7px;
        background-color: $main-color;
        position: absolute;
        top: 5px;
        left: 0;
    }
}