.sidebar {
    span {
        color: #333;
    }
    border: 1px solid #ccc;

    .sidebar-header {
        color: white;
        background: $primary-color;
        text-transform: uppercase;
        padding: 5px;
        font-size: 18px;
    }

    .sidebar-item {
        display: flex;
        justify-content: space-between;
        // margin: 3px 0;
        padding: 3px;

        &:hover {
            text-decoration: none;
            color: white;
            background: #ddd;
        }
    }
    .sidebar-item.active {
        text-decoration: none;
        background: $secondary-color;
        span {
            color: white !important;
        }
    }
}