/*
* Custom Variables for this Project
*/
// $main-color: #f7941e;
$main-color: #dc3545;
$dark-main: #74000c;

$gray-font: #888;
$light-gray: #bbb;
$dark-gray: #444;


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$dark-blue: #0e5a97;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


