.search-input {
    display: inline-block;
}
.rounded-input {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid $gray-font;
    
    &:focus {
        outline: none;
        border-radius: 30px;
        border: 1px solid $light-gray;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
}
.search-button {    
    border: none;
    outline:none;
    background: none;
    position: relative;
    right: 40px;
    font-size: 1.2em;
    &:focus {
        border: none;
        outline:none;    
    }
    .fa-search {
        color: $dark-gray;
    }
}


.cart-button {
    background: $main-color;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;

    i {
        margin-right: 5px;
    }
}

input.quantity {
    max-width: 60px;    
    padding: 5px;
}