footer {
    // background: $secondary-color;
    background: url('/images/pult.jpg');
    background-position: cover;   
    background-position: 50%;
    color: white;
    background-size: cover;

    .help {
        background: $secondary-color;
        opacity: 0.9;
        padding: 10px 0;
    }

    .info {
        background: darken($secondary-color, 20%);
        opacity: 0.9;
        padding: 25px 0;
        h3 {
            margin-bottom: 8px;
            font-weight: 700;
        }

        a, p {
            color: white;
            font-weight: 300;
        }
    }

    .bottom-line {
        padding: 8px 0;
        background: $dark-color;
        // opacity: 0.9;
    }
}