
#index {

    .sorting {
        display: flex;
        p {
            margin-right: 5px;
            font-weight: 600;
        }
        i {
            font-size: 30px;
            display: inline-block;
            color: $dark-gray;
            margin-right: 3px;
        }
    }

    .controls {
        i {
            font-size: 35px;
            color: $dark-gray;
            margin-left: 5px;
        }
        .fa-eye {
            color: orange;
        }
        .fa-edit {
            color: green;
        }
        .fa-trash {
            color: red;
        }
    }

}