@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&family=Open+Sans:wght@300;400;600;700&display=swap');


$primary-color: lighten(#bf1e2e, 10%);
$secondary-color: #1e77bf;

@font-face {
    font-family: univia;
    src: url("font/UniviaPro-Regular.otf") format("woff"), url("font/UniviaPro-Regular.otf")  format("truetype");
}


$dark-color: #58595b;
$light-color: #ccc;
$font-stack: univia, arial, 'Open Sans', monospace, 'JetBrains Mono', monospace;


body {
    font-family: $font-stack;
 }